.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: #e8e8e8;
  padding: 5px 3px;
  width: 100%;
  place-content: center;
  place-items: center;
}

.checkboxes {
  gap: 20px;
  display: flex;
  place-content: center;
  place-items: center;
}
